
.container {
    /* background-color: #f5f7fa; */
    /*margin-top: 100px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter {
    position: fixed;
    width: 280px;
    border: 1px solid #d8e2ef;
    border-radius: 4px;
}

.category {
    background-color: #f8f8f8;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 10px;
}

.category-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
}

.category-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-item {
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
}

.category-item ~ .category-item {
    margin-top: 6px;
}

.category-item:hover {
    background-color: var(--primary-color);
    color: white;
}

.category-item.active {
    background-color: var(--primary-color);
    color: white;
}

.category-item .icon {
    margin-right: 10px;
}

.main {
    /* background-color: bisque; */

    /* height: ; */
}

.main .sort-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.main .sort-bar .quantity {
    font-size: 14px;
    font-weight: 500;
    color: #5e6e82;
}

.main .sort-bar .sort-by {
    font-size: 14px;
}

.main .sort-bar .sort-by .title {
    margin-right: 8px;
}

.main .sort-bar .sort-by select {
    padding: 5px 10px;
    border: 1px solid #d8e2ef;
    padding: 5px 10px;
    border-radius: 6px;
    outline-color: #31b198;
}

.products {
    padding: 20px 10px;
}

.main .product-list {
    /* padding: 20px 10px; */
    background-color: white;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.product {
    border: 1px solid #d8e2ef;
    border-radius: 10px;
    padding: 0 10px 10px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 6px;
}

.product:hover {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.product .product-image {
}

.product img {
    max-width: 100%;
    height: 184px;
    object-fit: cover;
    /* height: 200px; */
}

.product .product-info .product-name {
    padding: 10px 0;
    font-size: 14px;
}

.product .product-info .product-name:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.product .product-info .price {
    font-size: 16px;
}

.product .product-info .price .final-price {
    color: var(--primary-color);
    font-weight: 600;
}

.product .product-info .price .stock-price {
    text-decoration: line-through;
    color: #4a5568;
}

.product .product-info .tail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    color: #999;
}

.rating {
    padding: 10px 0;
}

.rating.rating-1 > .star:nth-child(-n + 1) {
    color: #ffb321;
}

.rating.rating-2 > .star:nth-child(-n + 2) {
    color: #ffb321;
}

.rating.rating-3 > .star:nth-child(-n + 3) {
    color: #ffb321;
}

.rating.rating-4 > .star:nth-child(-n + 4) {
    color: #ffb321;
}

.rating.rating-5 > .star:nth-child(-n + 5) {
    color: #ffb321;
}

.add-to-cart-btn {
    /* background-color: var(--primary-color); */
    border: 1px solid var(--primary-color);
    color: #4d5969;
    padding: 6px 8px;
    border-radius: 5px;
    /* width: 100%; */
}

.add-to-cart-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.pagination-wrapper {
    background-color: #f9fafd;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.pagination > li > a {
    background-color: white;
    color: var(--primary-color);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: var(--primary-color) !important;
    border: solid 1px var(--primary-color) !important;
}

.pagination > .active > a:hover {
    background-color: var(--primary-color) !important;
    border: solid 1px var(--primary-color);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    display: block;
}
